Cython
cffi
warping @ git+https://github.com/kiranvad/warping.git@9d05b34ec50cb1da510f9951ee2b703461f8cdfb
matplotlib==3.8.4
msgpack==1.0.8
numpy==1.26.4
ortools==9.9.3963
pandas==2.2.2
PyGSP==0.5.1
ray==2.10.0
scikit-learn==1.4.2
scipy==1.13.0
